[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
webargs = "*"

[dev-packages]
pylint = "*"
pytest = "*"
tox = "*"
coverage = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-httpdomain = "*"
"e1839a8" = {path = ".", editable = true}

[requires]
python_version = "3.6"
